@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(0deg,
            rgba(96, 1, 101, 1) 23.8%,
            rgba(252, 130, 0, 1) 92%
        );
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Audiowide, sans-serif;
    margin: 0;
}

.music-container {    
    padding: 10px 10px 10px 150px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(251, 216, 37, 0.6);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
}

.img-container {
    position: relative;
    width: 110px;
}

.img-container::after {
    content: '';
    background-color: silver;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translate(-50%, 50%);
}

.img-container img {
    border-radius: 50%;
    border: 2px solid black;
    object-fit: cover;
    height: 110px;
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;

    animation-play-state: paused;
}

.music-container.play .img-container img {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn {
    background-color: white;
    border: 0;
    color: darkgray;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}

.action-btn-big {
    color: rgb(63, 63, 63);
    font-size: 30px;
}

.action-btn-big:focus {
    outline: 0;
}

.music-info {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px 10px 10px 150px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;
}

.music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
}

.music-info h4 {
    margin: 0;
}

.progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}

.progress {
    background-color: #fe8daa;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}