@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Fredoka+One&family=Permanent+Marker&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #000000;
  --secondary-color: #c0bcb5;
  --accent1-color: #4a6c6f;
  --accent2-color: #008148;
  --accent3-color: #b3001b;

  /* change the values below to your chosen font(s) */
  --heading-font: "Fredoka One", sans-serif;
  --paragraph-font: "Permanent Marker", Helvetica, sans-serif;
  --button-font: Audiowide, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--primary-color);
  /* headlines on a white background */
  --headline-color-on-color: var(--secondary-color);
  /* headlines on a colored background */
  --paragraph-color-on-white: var(--accent3-color);
  /* paragraph text on a white background */
  --paragraph-color-on-color: var(--primary-color);
  /* paragraph text on a colored background */
  --text-background-color: var(--accent1-color);
  --nav-link-color: var(--accent2-color);
  --nav-background-color: var(--accent1-color);
  --nav-hover-link-color: var(--accent3-color);
  --nav-hover-background-color: var(--accent1-color);
}


/*==========================================\\
||                                          ||
||  Structure Tag Styles                    ||
||                                          ||
\\==========================================*/

html {
  background-color: var(--primary-color);
  font-size: 16px;
}

body {
  max-width: 900px;
  margin: 0 auto;
  background-color: var(--accent1-color);
  padding: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-weight: 350;
}

h3 {
  font-size: 1.25rem;
  font-style: italic;
}

header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--accent2-color);
  display: flex;
  flex-direction: row;
  border: 2px solid var(--accent3-color);
  max-height: 150px;
  border: 5px solid var(--accent3-color);
  border-radius: 15px;
}

header img {
  max-height: 96%;
  display: flex;

  justify-self: center;
}

main {
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  font-size: .75rem;
  align-items: center;
  margin-top: 20px;
}

footer>p {
  padding: 2px;
  margin: 0;
  color: white;
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}

button {
  justify-content: center;
  font-family: Audiowide, sans-serif;
}

hr {
  width: 100%;
  height: 3px;
  background-color: var(--secondary-color);
  margin: 10px 0 10px 0;
}

/*==========================================\\
||                                          ||
||  Class Styles                            ||
||                                          ||
\\==========================================*/
div.wrapper {
  display: flex;
  flex-direction: row;
}

div.albumTags {
  display: flex;
  flex-direction: column;

}

div.albumTags>p {
  margin: 1px;
}

div.albumInfo>p {
  margin: 0;
  background-color: var(--secondary-color);
  width: fit-content;
}


div.coverArt img {
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 50%;
  margin: 0 20px 0 10px;
  border: 5px solid var(--primary-color);
}

.coverArt {
  position: relative;
  align-self: center;
}

.coverArt::after {
  content: '';
  background-color: silver;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, 50%);
}

.buttons {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 3rem;
  /* border: none; */
  /* min-width: 75px; */
}

.tag {
  text-align: right;
  /* font-family: Audiowide, sans-serif; */
  font-weight: 600;
  color: white;
}

.data {
  width: 100%;
  border: 1px solid var(--primary-color);
  /* margin: 1px; */
}

.headImg {
  width: 30%;
}

.heading {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.action-btn {
  width: 50px;
}

.action-btn-big {
  color: var(--accent3-color);
  font-size: 30px;
}

.blank {
  display: none;
}

/*==========================================\\
||                                          ||
||  ID Styles                               ||
||                                          ||
\\==========================================*/
#prev {
  border-radius: 20px 0 0 20px;

}

#next {
  border-radius: 0 20px 20px 0;
}

#pagename,
#subtitle,
#course {
  margin: 5px;
}

/*==========================================\\
||                                          ||
||  Pseudo Class Styles                     ||
||                                          ||
\\==========================================*/


/*==========================================\\
||                                          ||
||  Speciality Styles                       ||
||                                          ||
\\==========================================*/