body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main>h1 {
    text-align: center;
    background-color: indianred;
    padding: 1em;
    margin-top: 0;
    margin-bottom: -0.5em;
}

img {
    max-width: 100%;
}

.hikeStyles {
    padding: 0;
    margin: 1em 0;
    list-style-type: none;
}

.hikeStyles div {
    padding: 0 0.5em;
}

.hikeStyles li>h2 {
    text-align: center;
    background-color: burlywood;
    margin-bottom: 0.5em;
}

.light {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.light>h2 {
    width: 100%;
    flex: 1 0 auto;
}

.light>div {
    width: 40%;
    margin-left: 1em;
    flex: 1 1 auto;
}

.light h3 {
    margin-bottom: -0.5em;
}

/* Need to add some styling for the comments section */

#comments {
    padding: 1rem;
}

.addComment>h2 {
    text-align: center;
    background-color: indianred;
}

.addComment input {
    width: 100%;
    border: 1px solid black;
    font-size: 1.25rem;
}

.addComment button {
    padding: 1rem;
    border: 1px solid black;
    cursor: pointer;
}