/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Finlandica&family=Montserrat&display=swap');

/* 
||======================================================================||
|| Site Plan Variables                                                  ||
||======================================================================||
*/
:root {
    /* 
    || Base Colors from coolors.co 
    */
    --oxford-blue: #0c1d36ff;
    --jonquil: #f9cc0bff;
    --cultured: #f9f9f9ff;
    --silver-sand: #6b6e72ff;
    --sky-blue-crayola: #31c2d8ff;

    /* 
    || Site Color Palate
    */
    --primary-color: var(--oxford-blue);
    --secondary-color: var(--jonquil);
    --accent1-color: var(--cultured);
    --accent2-color: var(--silver-sand);
    --accent3-color: var(--sky-blue-crayola);

    /* 
    || Site Fonts
    */
    --heading-font: Montserrat, sans-serif;
    --paragraph-font: Finlandica, serif;

    /* 
    || Basic Color Combos
    */
    --headline-color-on-white: var(--oxford-blue); /* headlines on a white background */
    --headline-color-on-color: var(--jonquil); /* headlines on a colored background */
    --paragraph-color-on-white: var(--oxford-blue); /* paragraph text on a white background */
    --paragraph-color-on-color: var(--cultured); /* paragraph text on a colored background */
    --text-background-color: var(--silver-sand); /* text box background color */
    --nav-link-color: var(--jonquil);
    --nav-background-color: var(--silver-sand);
    --nav-hover-link-color: var(--sky-blue-crayola);
    --nav-hover-background-color: var(--cultured);
}

/*
||======================================================================||
|| Natural Box Layout Model                                             ||
||======================================================================||
*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 
||======================================================================||
|| Basic Page Formats                                                   ||
||======================================================================||
*/
html {
    background-color: var(--primary-color);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    max-width: 1024px;
    margin: 0 auto;
    background-color: var(--accent3-color);
    padding: 1em;
    align-content: center;
    border-radius: 20px;
}

header {
    background-color: var(--primary-color);
    font-family: var(--heading-font);
    color: var(--headline-color-on-color);
    padding: 10px;
    border-radius: 20px;
}

main {
    padding: 10px;
    margin: 10px;
    background-color: var(--accent1-color);
    border: 1px solid var(--accent2-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: var(--primary-color);
    font-family: var(--heading-font);
    color: var(--headline-color-on-color);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

h1, p {
    margin: 0 2vw;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    background: var(--accent2-color);
    color: var(--accent1-color);
    border-radius: 5px;
    padding-left: 20px
}

h3 {
    font-size: 1.25rem;
}

p {
    font-family: var(--paragraph-font);
    font-size: 1rem;
    padding: 5px;
}

ul li {
    font-family: var(--paragraph-font);
    list-style: none;
    padding: 3px;
    margin: 4px;
    cursor: pointer;
    position: relative;
    font-size: 1.2em;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}

ul li:hover {
    background: var(--accent3-color);
    color: var(--primary-color);
}

input {
    padding: 5px;
    margin: 5px;
    font-size: 1rem;
}

button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.15rem;
    margin: 5px;
}

div span {
    font-family: var(--paragraph-font);
    padding: 10px;
}

/* 
||======================================================================||
|| .Class Formats                                                       ||
||======================================================================||
*/
.close {
    position: absolute;
    right: 0;
    top: 0;
    /* padding: 12px 16px 12px 16px; */
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }

/* 
||======================================================================||
|| #ID Formats                                                          ||
||======================================================================||
*/
div #tasks {
    display: flex;
    flex-direction: column;
}

#todoInput {
    width: 70%;
}

#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    background: var(--accent2-color);
    color: var(--accent1-color);
    border-radius: 5px;
    letter-spacing: 4px;
}

#addBtn {
    font-size: xx-large;
    font-weight: bolder;
    margin: 0 5px 0 5px;
    border-radius: 5px;
}

/* 
||======================================================================||
|| Form Formats                                                         ||
||======================================================================||
*/

/*
||======================================================================||
|| Clearfix: Force an Element not to collapse                           ||
||======================================================================||
*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
